.navbar {
    display: flex;
    align-items: center;
    background-color: #2B3784;
    padding: 10px;
  }
  
  .navbar-logo img {
    height: 30px;
  }
  
  .navbar-search {
    margin-left: auto;
  }
  
